<% provide(:title, "Our ingredients") %>
<h1>Our ingredients</h1>


<table class="table">
  <thead>
    <tr>
        <th>Ingredient name</th>
        <th>Quantity (Threshold)</th>
        <th>Price</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render(@ingredients) %>
  </tbody>
</table>

<%= button_to 'New ingredient', new_ingredient_path, method: :get %>

