<% provide(:title, "Zutaten") %>
<h1>Zutaten</h1>


<table class="table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Menge</th>
        <th>Preis</th>
        <th>Aktiv</th>
        <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <%= render(@ingredients) %>
  </tbody>
</table>

<%= button_to 'Belag hinzufügen', new_ingredient_path, method: :get, class: "btn" %>

