<% provide(:title, "all orders") %>
<h1>All orders</h1>

<% if @orders.empty? %>
  <div>There are no orders.</div>
<% else %>
  <% @orders.each do |order| %>

    <div>
      Order Id: <b> <%= order.id %> </b><br>
      Name: <b> <%= order.name %> </b><br>
      Address <b> <%= order.address %> </b><br>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Product title</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render(order.line_items) %>
        <tr>
          <td><b>Total price:</b></th> 
          <td><b> <%= number_to_currency(total_price(order.line_items), unit: '€ ') %> </b></th>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

