<% provide(:title, "Bestellungen") %>
<h1>Bestellungen</h1>

<% if @orders.empty? %>
  <div>There are no orders.</div>
<% else %>
  <% @orders.each do |order| %>
    <div class="single-order">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= order.id %> </td>
              <td> <%= order.name %> </td>
              <td> <%= order.address %> </td>
            </tr>
          </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th>Pizza</th>
            <th>Extras</th>
            <th>Preis</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>
          <%= render(order.line_items) %>
          <tr>
            <td><b>Summe:</b></th> 
            <td></td>
            <td><b> <%= number_to_currency(total_price(order.line_items), unit: '€') %> </b></th>
            <td> <%= button_to 'löschen', order, 
              data: { confirm: 'Sicher?' }, method: :delete, class: "btn" %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>

