<% provide(:title, "all orders") %>
<h1>All orders</h1>

<% if @orders.empty? %>
  <div>There are no orders.</div>
<% else %>
  <% @orders.each do |order| %>
    <div class="single-order">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= order.id %> </td>
              <td> <%= order.name %> </td>
              <td> <%= order.address %> </td>
            </tr>
          </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th>Product title</th>
            <th>Extras</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render(order.line_items) %>
          <tr>
            <td><b>Total price:</b></th> 
            <td></td>
            <td><b> <%= number_to_currency(total_price(order.line_items), unit: '€ ') %> </b></th>
            <td> <%= button_to 'Delete order', order, 
              data: { confirm: 'Are you sure?' }, method: :delete %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>

