<h1>Your cart</h1>

<table>
    <% @total_price = 0 %>
    <% @cart.line_items.each do |item| %>
        <%# FIXME: total_price in def auslagern! %>
        <% @total_price += item.product.price %>
        <tr>
            <td> <%= item.product.title %> </td>
            <td> <%= number_to_currency(item.product.price, unit: '€ ') %> </td>
        </tr>
    <% end %>
    <tr>
        <td><b>Total price:</b></th> 
        <td><b> <%= number_to_currency(@total_price, unit: '€ ') %> </b></th>
    </tr>
</table>
