<% provide(:title, 'Zutat hinzuf체gen') %>
<h1>Belag hinzuf체gen</h1> 

<div>
  <%= @product.title %>'s Bel채ge: 
  <ul>
    <% @product.ingredients.each do |item| %>
      <li> <%= item.name %> </li>
    <% end %>
  </ul>
</div>

<div>
  Hinzuf체gen:
  <%= render 'form' %>
</div>
