<% provide(:title, 'Zutat hinzufügen') %>
<h1>Belag hinzufügen</h1> 

<div>
  <%= @product.title %>'s ingredients: 
  <ul>
    <% @product.ingredients.each do |item| %>
      <li> <%= item.name %> </li>
    <% end %>
  </ul>
</div>

<div>
  Add:
  <%= render 'form' %>
</div>
