<% provide(:title, 'Zutat hinzufügen') %>
<h4>Belag hinzufügen</h4> 

<h4><%= @product.title %> </br></h4>
<% @product.ingredients.each do |i| %>
    <%= i.name %> 
<% end %>
<table class="table">
    <tr>
        <td>
            <%= image_tag @product.pic_url %>
        </td>
        <%= render 'form' %>
    </tr>
</table>
