@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}


/* header */

#logo {
  float: left;
  margin-right: 2em;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  font-weight: bold;
  letter-spacing: -1px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* highlight inactive table fields */
.active-false {
  color: #ff3344;
}

/* highlight small quantity fields */
.small-amount-true {
  color: #ff3344;
}
