@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 1em;
}


/* header */

#logo {
  padding-bottom: 1em;
}


/* highlight inactive table fields */
.active-false {
  color: #ff3344;
}

/* highlight small quantity fields */
.small-amount-true {
  color: #ff3344;
}

.single-order {
  border-bottom: solid 3px #000000;
}

.table td,
.table th {
    padding-left: 0;
}

#ingredient_ids_ {
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0 0;
}
