<% provide(:title, "Our products") %>
<h1>Our products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product title</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <%= render(@products) %>
    </tbody>
</table>

<%= button_to 'New product', new_product_path, method: :get %>
