<% provide(:title, "Our products") %>
<h1>Unsere Produkte</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Zutaten</th>
            <th>Preis</th>
            <th>Aktiv</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        <%= render(@products) %>
    </tbody>
</table>

<%= button_to 'Pizza hinzufügen', new_product_path, method: :get %>
