<tr>
    <td> <%= line_item.product.title %> </td>
    <td> 
        <% if line_item.ingredients.any? %>
            <% line_item.ingredients.each do |item| %> 
                <%= item.name %><br>
            <% end %>
        <% else %>
            –
        <% end %>
    </td>
    <td> <%= number_to_currency(total_price([line_item]), unit: '€') %> </td>
    <td> <%= link_to 'Entfernen', line_item_path(line_item.product_id),
        data: { confirm: 'Sicher?' }, method: :delete %> </td>
</tr>
