<tr>
    <td> <%= line_item.product.title %> </td>
    <td> <%= number_to_currency(line_item.product.price, unit: '€ ') %> </td>
    <td> <%= link_to 'Remove', line_item_path(line_item.product_id),
        data: { confirm: 'Are you sure?' }, method: :delete %> </td>
</tr>
