<h1>Your cart</h1>


<table>
    <tr>
        <th>Product title</th>
        <th>Price</th>
    </tr>
    <% @total_price = 0 %>
    <% @line_items.each do |i| %>
      <% p = Product.find_by_id(i.product_id) %>
      <% @total_price += p.price %>
        <tr>
            <td> <%= p.title %> </td>
            <td> <%= number_to_currency(p.price, unit: '€ ') %> </td>
            <td> <%= link_to 'Remove', i, 
                confirm: 'Are you sure?', method: :delete %> </td>
        </tr>
    <% end %>
        <tr>
          <td><b>Total price:</b></th> 
          <td><b> <%= number_to_currency(@total_price, unit: '€ ') %> </b></th>
        </tr>
</table>
