<h4>Willkommmen bei Veg Damit!</h4>
<p>
Hast du auch keine Lust mehr auf fade Spinat- oder Käsepizza als
einzige vegetarische Alternative im Kühlregal? Wir auch nicht.
Deshalb haben wir den ersten deutschen Online-Lieferservice für
schmackhafte vegane und vegetarische Pizzaspezialitäten gegründet.
Wir verwenden außschließlich Zutaten von regionalen Bio-zertifizierten Bauernhöfen.
Unser Angebot überzeugt durch Frische, Nachhaltigkeit und vor allem Geschmack.
Wir freuen uns auf deine Bestellung aus dem Raum Hamburg.
Guten Appetit, Dein Veg-Damit!-Team
</p>