<% provide(:title, "Our pizzas!") %>
<h1>Our pizzas!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: "store/product", collection: @products %>
    </tbody>
</table>
