<% provide(:title, "Übersicht") %>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Zutaten</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: "store/product", collection: @products %>
    </tbody>
</table>
