<% provide(:title, "Übersicht") %>

<h4>Herzlich Willkommmen bei Veg Damit!</h4>
<p> Genießen Sie unser Lieferangebot schmackhafter Veganer und vegetarischer Pizzakreationen. Wir freuen uns auf Ihre Bestellung aus dem Raum Hamburg.<br /><br /> Guten Appetit, Ihr Veg-Damit!-Team</p>
<h4>Unser Angebot</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Zutaten</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: "store/product", collection: @products %>
    </tbody>
</table>
