<% provide(:title, "Our pizzas!") %>
<h1>Our pizzas!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |p| %>
            <tr>
                <td> <%= p.title %> </td>
                <td>
                    <% p.ingredients.each do |i| %>
                        <%= i.name %><br>
                    <% end %>
                </td>
                <td> <%= number_to_currency(p.price, unit: '€ ') %> </td>
                <td> <%= button_to 'Add to cart', line_items_path(product_id: p) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>
