<% provide(:title, "Our pizzas!") %>
<h1>Our pizzas!</h1>

<% @products.each do |p| %>
        <b> <%= p.title %> </b>
        <div>
            <%= number_to_currency(p.price, unit: '€ ') %>
            <%= button_to 'Add to cart', line_items_path(product_id: p) %>
        </div>
         <br>
<% end %>
