<hr />
<address>
	<strong>Veg Damit!</strong><br>
    Feldstraße 66<br>
    20359 Hamburg<br>
    <abbr title="Phone">Tel.:</abbr> +49 40234654
</address>
     
<address>
    <strong>Kontakt:</strong><br>
    <a href="mailto:#">info@VegDamit.de</a>
</address>