<p style="text-align: center"> 
	<strong>Veg Damit! </strong>Feldstraße 66 | 20359 Hamburg | Tel.: +49 40234654 | Mail: <a href="mailto:#">info@VegDamit.de</a>
	<% if (not signed_in?) && (current_page?(store_path)) %>
    	<%= link_to image_tag("icons/keys.png", :size=>"14x14"), signin_path %>
	<% end %>
</p>
