<header class="navbar">
<div class="navbar-inner">
    <div class="container">
        <nav>
        <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><%= link_to "Pizzas", products_path %></li>
                <li><%= link_to "Zutaten", ingredients_path %></li>
                <li><%= link_to "Bestellungen", orders_path %></li>
                <li><%= link_to "Abmelden", signout_path, method: 'delete' %></li>
        </ul>
        </nav>
    </div>
</div>
</header>
